@use "../base/funcionalidades" as mix;


footer {
    background-color: beige;
    text-align: center;
    gap: 10px;
    background: mix.$color-principal;
    color: white;
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;

    .cajas-footer {
        @include mix.flex(flex, row, center, center, 15px);
        a {
            text-decoration: none;
            color: white;
        }
    }
    .caja-footer {
        @include mix.flex(flex, row, center, center, 15px);
        gap: 15px;
        a {
            text-decoration: none;
            color: white;
        }
    }
    .footer-item {
        display: flex;
        align-items: center;
        gap: 10px;
        text-decoration: none;
        color: white;
        font-size: 16px;
        img {
            width: 24px;
            height: 24px;
        }
    }
}



/*nuevo footer*/
/*vamos hacerlo grids si lo vemos necesario*/

